@use "../variables/_colors.scss" as colors;

.cart-container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid colors.get-color("paper", 7);
	background: colors.get-color("paper", 1);

  width: calc(100% - 150px);
  height: 500px;
  overflow-y: scroll;
  padding: 20px;
}
